{% extends "layout.html" %}
{% set active_page = "credits" %}

{% block head %}
 {{ super() }}
{% endblock head %}

{% block body %}

<h1 class="text-left" id="team_credits">The Team</h1>

<p class="text-left">The NASA-Sloan Atlas was created by Michael
Blanton, with extensive help and testing from Eyal Kazin, Guangtun
Zhu, Adrian Price-Whelan, John Moustakas, Demitri Muna, Renbin Yan and
Benjamin Weaver. Renbin Yan provided the detailed spectroscopic
measurements for each SDSS spectrum. David Schiminovich kindly
provided the input GALEX images. We thank Nikhil Padmanabhan, David
Hogg, Doug Finkbeiner, Eddie Schlafly, and David Schlegel for their
work on SDSS image infrastructure and calibration.</p>

<h1 class="text-left" id="funding_credits">Funding</h1>

<p class="text-left">Funding for the NASA-Sloan Atlas was provided by
the NASA Astrophysics Data Analysis Program (08-ADP08-0072) and the
NSF (AST-1211644). </p>

<h1 class="text-left" id="sdss_credits">SDSS credits</h1>

<p class="text-left">
Funding for the Sloan Digital Sky Survey IV has been provided by the
Alfred P. Sloan Foundation, the U.S. Department of Energy Office of
Science, and the Participating Institutions. SDSS- IV acknowledges
support and resources from the Center for High-Performance Computing at
the University of Utah. The SDSS web site is www.sdss.org.</p>

<p class="text-left">
SDSS-IV is managed by the Astrophysical Research Consortium for the
Participating Institutions of the SDSS Collaboration including the
Brazilian Participation Group, the Carnegie Institution for Science,
Carnegie Mellon University, the Chilean Participation Group, the
French Participation Group, Harvard-Smithsonian Center for
Astrophysics, Instituto de Astrofísica de Canarias, The Johns Hopkins
University, Kavli Institute for the Physics and Mathematics of the
Universe (IPMU) / University of Tokyo, Lawrence Berkeley National
Laboratory, Leibniz Institut für Astrophysik Potsdam (AIP),
Max-Planck-Institut für Astronomie (MPIA Heidelberg),
Max-Planck-Institut für Astrophysik (MPA Garching),
Max-Planck-Institut für Extraterrestrische Physik (MPE), National
Astronomical Observatory of China, New Mexico State University, New
York University, University of Notre Dame, Observatório Nacional /
MCTI, The Ohio State University, Pennsylvania State University,
Shanghai Astronomical Observatory, United Kingdom Participation Group,
Universidad Nacional Autónoma de México, University of Arizona,
University of Colorado Boulder, University of Oxford, University of
Portsmouth, University of Utah, University of Virginia, University of
Washington, University of Wisconsin, Vanderbilt University, and Yale
University.
</p>

<h1 class="text-left" id="galex_credits">GALEX credits</h1>

<p class="text-left">The Galaxy Evolution Explorer (GALEX) is a NASA Small Explorer. The
mission was developed in cooperation with the Centre National d'Etudes
Spatiales of France and the Korean Ministry of Science and
Technology.</p>

{% endblock body %}
