{% extends "layout.html" %}
{% set active_page = "publications" %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<link rel="stylesheet" type="text/css" media="screen" href="static/css/prospectus.css" />
<meta name="robots" content="noindex" />
<meta content="text/html;">
<title>NASA-Sloan Atlas: Publications</title>
<meta http-equiv="refresh" CONTENT="600"/>

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/cover.css" rel="stylesheet">
{% endblock head %}

{% block body %}

<div class=row> 
	<div class=col-md-9 role=main>

		<p class="text-left"> We and others have published a number of
			publications related to the NASA-Sloan Atlas and its
			precursors. These include at least those below (there might be
			others we didn't track down!).</p>

<ol class="list-group">

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2016arXiv160206960L">Läsker,
R., Greene, J. E., Seth, A., van de Ven, G., Braatz, J. A., Henkel,
C., Lo, K. Y. (2016), <emph>The Black Hole - Bulge Mass Relation in
Megamaser Host Galaxies</emph>, ArXiv e-prints,
p. arXiv:1602.06960</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2016arXiv160202757B">Bradford,
J. D., Geha, M. C., van den Bosch, F. C. (2016), <emph>A Slippery
Slope: Systematic Uncertainties in the Baryonic Tully-Fisher
Relation</emph>, ArXiv e-prints, p. arXiv:1602.02757</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2016arXiv160104092M">Moorman,
C. M., Moreno, J., White, A., Vogeley, M. S., Hoyle, F., Giovanelli,
R., Haynes, M. P. (2016), <emph>On the Star Formation Properties of
Void Galaxies</emph>, ArXiv e-prints, p. arXiv:1601.04092</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2015ApJ...813...82R">Reines,
A. E., Volonteri, M. (2015), <emph>Relations between Central Black
Hole Mass and Total Galaxy Stellar Mass in the Local Universe</emph>,
The Astrophysical Journal, Vol. 813, p. 82</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2015ApJ...812....4Y">Yoon, I.,
Rosenberg, J. L. (2015), <emph>The Effect of Halo Mass on the H I
Content of Galaxies in Groups and Clusters</emph>, The Astrophysical
Journal, Vol. 812, p. 4</a>
</li>

<li class="list-group-item text-left"> 
<a href="http://adsabs.harvard.edu/abs/2015ApJ...809..146B">Bradford,
J. D., Geha, M. C., Blanton, M. R. (2015), <emph>A Study in Blue: The
Baryon Content of Isolated Low-mass Galaxies</emph>, The Astrophysical
Journal, Vol. 809, p. 146</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2014ApJ...795..158M">Ma, C.-P.,
Greene, J. E., McConnell, N., Janish, R., Blakeslee, J. P., Thomas,
J., Murphy, J. D. (2014), <emph>The MASSIVE Survey. I. A
Volume-limited Integral-field Spectroscopic Study of the Most Massive
Early-type Galaxies within 108 Mpc</emph>, The Astrophysical Journal,
Vol. 795, p. 158</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2014ApJ...792..141S">Slater,
C. T., Bell, E. F. (2014), <emph>The Mass Dependence of Dwarf
Satellite Galaxy Quenching</emph>, The Astrophysical Journal,
Vol. 792, p. 141</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2014MNRAS.442.1396W">Wheeler,
C., Phillips, J. I., Cooper, M. C., Boylan-Kolchin, M., Bullock,
J. S. (2014), <emph>The surprising inefficiency of dwarf satellite
quenching</emph>, Monthly Notices of the Royal Astronomical Society,
Vol. 442, p. 1396</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2014ApJS..212...18B">Brown,
M. J. I., Moustakas, J., Smith, J.-D. T., da Cunha, E., Jarrett,
T. H., Imanishi, M., Armus, L., Brandl, B. R., Peek,
J. E. G. (2014), <emph>An Atlas of Galaxy Spectral Energy
Distributions from the Ultraviolet to the Mid-infrared</emph>, The
Astrophysical Journal Supplement Series, Vol. 212, p. 18</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2013ApJ...775..116R">Reines,
A. E., Greene, J. E., Geha, M. (2013), <emph>Dwarf Galaxies with
Optical Signatures of Active Massive Black Holes</emph>, The
Astrophysical Journal, Vol. 775, p. 116</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2013MNRAS.428..573S">Sales,
L. V., Wang, W., White, S. D. M., Navarro,
J. F. (2013), <emph>Satellites and haloes of dwarf galaxies</emph>,
Monthly Notices of the Royal Astronomical Society, Vol. 428,
p. 573</a>
</li>

<li class="list-group-item text-left"> 
<a href="http://adsabs.harvard.edu/abs/2012ApJ...757...85G">Geha, M.,
Blanton, M. R., Yan, R., Tinker, J. L. (2012), <emph>A Stellar Mass
Threshold for Quenching of Field Galaxies</emph>, The Astrophysical
Journal, Vol. 757, p. 85</a>
</li>

<li class="list-group-item text-left">
<a href="http://adsabs.harvard.edu/abs/2011ApJ...742...73Z">Zhu, G.,
Zaw, I., Blanton, M. R., Greenhill, L. J. (2011), <emph>Optical
Properties of Host Galaxies of Extragalactic Nuclear Water
Masers</emph>, The Astrophysical Journal, Vol. 742, p. 73</a>
</li>

<li class="list-group-item
text-left"> <a href="http://adsabs.harvard.edu/abs/2011AJ....142...31B">Blanton
et al. (2011), <emph>Improved Background Subtraction for the Sloan
Digital Sky Survey Images</emph>, AJ, 142, 31</a></li>

<li class="list-group-item text-left"> <a
href="http://adsabs.harvard.edu/abs/2010ApJ...722..491Z">Zhu et
al. (2010), <emph>Stellar Populations of Elliptical Galaxies in the
Local Universe</emph>, ApJ, 722, 491</a></li> 

<li class="list-group-item text-left"> <a
href="http://adsabs.harvard.edu/abs/2010ApJ...718..184C">Conroy et
al. (2010), <emph>Dust Attenuation in Disk-dominated Galaxies:
Evidence for the 2175 Å Dust Feature</emph>
ApJ, 718, 184</a></li> 

<li class="list-group-item text-left"> <a
href="http://adsabs.harvard.edu/abs/2009ARA%26A..47..159B">Blanton
&amp; Moustakas
(2009), <emph>Physical Properties and Environments of Nearby
Galaxies</emph>, ARAA, 41, 159
</a></li> 

<li class="list-group-item text-left"> <a
href="http://adsabs.harvard.edu/abs/2009ApJ...691..394M">Maller et al.
(2009), <emph>The Intrinsic Properties of SDSS Galaxies</emph>
ApJ, 691, 394</a></li> 

</ol>

</div>
</div>

{% endblock body %}
